h2
{
text-align:center;
}
h3
{
text-align:center;
}
#para1
{
color:blue;
text-align:center;
}
body
{
background-color:pink;
}
h1
{
text-align:center;
}
span
{
color:black;
}
div
{
background-color:powderblue;
}
div p
{
background-color:yellow;
}
.class1
{
opacity:0.2;
}
.class2
{
opacity:0.5
}
.class3
{
opacity:1.0
}
a:hover
{
background-color:yellow;
font-size:60px;
}